{# align #}
{% if node.family == 'Environment' %}
	{% with env = node %}
		{% include "environment.html.j2" %}
	{% endwith %}
{% else %}
	<div class="{{node.species}}">	
	{%- for child in node.children recursive -%}
		{%- with node = child -%}
			{%- include "node.html.j2" -%}
		{%- endwith -%}
	{%- endfor -%}
	</div>
{%- endif -%}