{%- if arg.species in ['Group','OptArg'] -%}
	{%- with group = arg -%}
		{%- include "group.html.j2" -%}
	{%- endwith -%}
{%- else -%}
	{%- with node = arg -%}
		{%- include "node.html.j2" -%}
	{%- endwith -%}
{%- endif -%}