{% if bibliography and bibliography.children %}
	<ul class="bibliography">
	{% for node in bibliography.children %}
		{% if node.species == "bibitem" %}
		    <li class="bibitem", id="{{ node.label }}">
		        {% set items = node.harvard_dict() %}
		        {% if items.author %} {{ items.author }} {% endif %}
		        {% if items.year %} ({{ items.year }}) {% endif %} 
		        {% if items.title %} <it>{{ items.title }}</it>. {% endif %}
		        {% if items.publisher %} {{ items.publisher }}. {% endif %}
		        {% if items.isbn %} <span style="white-space:nowrap;">ISBN:{{ items.isbn }}.</span> {% endif %}
	   	 	</li>
		{% endif %}
	{% endfor %}
    </ul>
{% else %}
	No items in bibliography!
{% endif %}


