{% if node.species == "Mathmode" %} {{ node.chars() | safe }}

{% elif node.species == "Text" %}{{ node.content | replace('~', '&nbsp;') | safe }}

{% elif node.species == "image" %}
    <img 
        width="{% if node.width %}{{ node.width }}{% else %}40%{% endif %}" 
        src="{{ image_files[node] }}"{% if node.parent.label %} id="{{ node.parent.label }}"{% endif %}/>

{% elif node.species == "media" %}
	<iframe width="{% if node.width %}{{ node.width }}{% else %}40{% endif %}%" src="{{ node.content }}" allowfullscreen></iframe>

{% elif node.genus == "accent" %}{{ node.content | safe }}

{% elif node.species == "break" %}
    <br/>

{% elif node.species == "space" %}
    &nbsp;

{% elif node.genus == "dispmath" %}
    <div class="{{ node.species }}">
       {{ node.content }}
    </div>

{% elif node.genus in ["xref", "href"] %}
	{% include "refcite.html" %}

{% elif node.genus == "level" %}
    <div class="{{ node.species }}" {% if node.label %}, id="{{ node.label }}"{% endif %}>
    {{ loop(node.children) }}
    </div>

{% elif node.genus == "heading" %}
	{% if node.species == "chapterstar" %}
		<h1 class="chapter">{{ loop(node.children) | trim }}</h1>
	{% elif node.species == "sectionstar" %}
		<h2 class="section">{{ loop(node.children) | trim }}</h2>
	{% elif node.species == "subsectionstar" %}
		<h3 class="subsection">{{ loop(node.children) | trim }}</h3>
	{% endif %}

{% elif node.genus == "list" %}

    {% if node.species == "bibliography" %}       
		{% if doc.preamble['documentclass'] == "article" %}
            <h2 class="section">References</h2>
        {% else %}
            <h1 class="chapter">Bibliography</h1>
        {% endif %}
        <ul class="bibliography">
            {{ loop(node.children) }}
        </ul>

    {% elif node.species == "itemize" %}
        <ul class="{{ node.species }}">
            {{ loop(node.children) }}
        </ul>

    {% else %}
        <ol class="{{ node.species }}">
            {{ loop(node.children) }}
        </ol>

    {% endif %}

{% elif node.genus == "item" %}

	{# switch for answers=True needed here #}
	{% if node.species in ["correct", "incorrect"] %}
        <li class="choice">{{ loop(node.children) | trim }}</li>

    {% elif node.species == "bibitem" %}
        <li class="bibitem", id="{{ node.label }}">
            {% set harvard = node.harvard_dict() %}
            {% if harvard.author %} {{ harvard.author }} {% endif %}
            {% if harvard.year %} ({{ harvard.year }}) {% endif %} 
            {% if harvard.title %} <it>{{ harvard.title }}</it>. {% endif %}
            {% if harvard.publisher %} {{ harvard.publisher }}. {% endif %}
            {% if harvard.isbn %} <span style="white-space:nowrap;">ISBN:{{ harvard.isbn }}.</span> {% endif %}
        </li>
    
	{% else %}
        <li class="{{ node.species }}">{{ loop(node.children) | trim }}</li>
    
	{% endif %}

{% elif node.species == "subfigure" %}
    <span class="{{ node.species }}"{% if node.label %}, id="{{ node.label }}" {% endif %}>
        {% for child in node.children recursive %}
            {% with node = child %}
                {% include "node.html" %}
            {% endwith %}
        {% endfor %}
		{% set title = node.get_title_node() %}	
	    {% if title %}

			
			<span class="caption">
			    {% if node.number  %}({{ node.number }})&nbsp;{% endif %}
				{% for child in title.children recursive %}
					{% with node = child %}{% include "node.html" %}{% endwith %}
				{% endfor %}
			</span>
			
			
	    {% endif %}
	</span>

{% elif node.genus in ["theorem", "task", "float"] %}
    <div class="{{ node.species }}"{% if node.label %}, id="{{ node.label }}" {% endif %}>
		{% include "block_heading.html" %}
        {% for child in node.children recursive %}
            {% with node = child %}
                {% include "node.html" %}
            {% endwith %}
        {% endfor %}
	</div>

{% elif node.genus == "hidden" and node.species != "answer" %}
    <div class="{{ node.species }}">
		<div class="showhide">
			<p class="hidebox_title">{{ node.species | title }}</p>
			<div class="inner_hidebox">
				{{ loop(node.children) }}
			</div>
		</div>
	</div> 

{% elif node.genus == "pre" %}
	{% if node.family == "environment" %}
		<div class="tex2jax_ignore">
			<pre class="{{ node.species }}">{{ node.content | trim }}</pre>
		</div>
	{% endif %}
	{% if node.family == "macro" %}
		<span class="{{ node.species }}">{{ node.content | trim }}</span>
	{% endif %}

{% elif node.species == "abstract" %}
	<div class="{{ node.species }}">
		<h2>{{ node.species | title }}</h2>
		{{ loop(node.children) }}
	</div>

{% elif node.genus == "box" %} 
    <div class="{{ node.species }}">
       {{ loop(node.children) | trim }}
    </div>

{% elif node.genus == "style" %} 
    <span class="{{ node.species }}">{{ loop(node.children) | trim }}</span>


{% elif node.species == "tabular" %}
    <table class="{{ node.species }}">				
            {{ loop(node.children) }}
	</table>

{% elif node.species == "row" %}
    <tr{% if node.content %} class="{{ node.content }}"{% endif %}>				
        {{ loop(node.children) }}
	</tr>

{% elif node.species == "cell" %}
    <td{% if node.content %} class="{{ node.content }}"{% endif %}>				
        {{ loop(node.children) }}
	</td>

{# unlisted elements #}
{% else %}
    <div class="unlisted"><div class="{{ node.species }}">{{ loop(node.children) }}</div></div>

{% endif %}
